main {
    display: inline-block;
}

figure {
    width: 48%;
    float: left;
}

img {
    width: 49%;
    height: 250px;
}

article {
    width: 45%;
    float: right;
}

p {

}
 button {
    display: block;
    padding: 7%;
    width: 50%;
    text-align: center;
 }

footer {
    margin-top: 5%;
}